NODE-RED/Kaggle.json
[
  {
    "id": "tab_hydro",
    "type": "tab",
    "label": "HydroControl — Gemma4",
    "disabled": false,
    "info": "Système de régulation hydroponique autonome avec IA Gemma4 via Ollama"
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "HydroControl",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "group_html",
    "type": "ui_group",
    "name": "Tableau de Bord Complet",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": false,
    "width": "12",
    "collapse": false
  },

  {
    "id": "node_template_ui",
    "type": "ui_template",
    "z": "tab_hydro",
    "group": "group_html",
    "name": "HydroControl Dashboard",
    "order": 1,
    "width": "12",
    "height": "26",
    "format": "<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<link href=\"https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Exo+2:wght@300;400;600;700;900&display=swap\" rel=\"stylesheet\">\n<style>\n:root {\n  --bg:#070d14; --panel:#0b1520; --panel2:#0f1d2e;\n  --border:#1a3a5c; --accent:#00d4ff; --accent2:#00ff9d;\n  --warn:#ff9d00; --danger:#ff3d5a; --text:#c8e6ff; --muted:#4a7a9b;\n  --ph-color:#a78bfa; --temp-color:#f97316; --cond-color:#22d3ee;\n}\n* { margin:0; padding:0; box-sizing:border-box; }\nbody {\n  background:var(--bg); font-family:'Exo 2',sans-serif;\n  color:var(--text); min-height:100vh; overflow-x:hidden;\n}\nbody::before {\n  content:''; position:fixed; inset:0;\n  background-image:\n    linear-gradient(rgba(0,212,255,0.03) 1px,transparent 1px),\n    linear-gradient(90deg,rgba(0,212,255,0.03) 1px,transparent 1px);\n  background-size:40px 40px; pointer-events:none; z-index:0;\n}\n.app { position:relative; z-index:1; padding:20px; }\nheader {\n  display:flex; align-items:center; justify-content:space-between;\n  padding:16px 24px; background:var(--panel);\n  border:1px solid var(--border); border-bottom:2px solid var(--accent);\n  margin-bottom:20px;\n  clip-path:polygon(0 0,calc(100% - 30px) 0,100% 30px,100% 100%,0 100%);\n}\n.logo { display:flex; align-items:center; gap:12px; }\n.logo-icon {\n  width:42px; height:42px; border:2px solid var(--accent); border-radius:8px;\n  display:flex; align-items:center; justify-content:center; font-size:22px;\n  box-shadow:0 0 15px rgba(0,212,255,0.3); animation:pulse-border 3s infinite;\n}\n@keyframes pulse-border { 0%,100%{box-shadow:0 0 10px rgba(0,212,255,0.3)} 50%{box-shadow:0 0 25px rgba(0,212,255,0.7)} }\n.logo h1 { font-size:22px; font-weight:900; letter-spacing:3px; text-transform:uppercase; color:var(--accent); text-shadow:0 0 20px rgba(0,212,255,0.5); }\n.logo span { font-size:11px; color:var(--muted); display:block; letter-spacing:2px; }\n.status-bar { display:flex; gap:16px; align-items:center; }\n.status-dot { width:8px; height:8px; border-radius:50%; background:var(--accent2); box-shadow:0 0 8px var(--accent2); animation:blink 1.5s infinite; }\n@keyframes blink { 0%,100%{opacity:1} 50%{opacity:0.3} }\n.status-text { font-family:'Share Tech Mono'; font-size:12px; color:var(--muted); }\n#gemma-status {\n  font-family:'Share Tech Mono'; font-size:11px; padding:4px 12px;\n  border-radius:4px; background:rgba(0,212,255,0.1);\n  border:1px solid var(--border); color:var(--accent); min-width:200px; text-align:center;\n}\n.section-title {\n  font-size:11px; font-weight:700; letter-spacing:4px; text-transform:uppercase;\n  color:var(--muted); padding:0 4px 8px; border-bottom:1px solid var(--border);\n  margin-bottom:16px; display:flex; align-items:center; gap:8px;\n}\n.section-title::before { content:''; width:3px; height:14px; background:var(--accent); border-radius:2px; box-shadow:0 0 8px var(--accent); }\n.control-panel {\n  background:var(--panel); border:1px solid var(--border); border-top:2px solid var(--accent);\n  padding:20px 24px; margin-bottom:20px;\n  clip-path:polygon(0 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%);\n}\n.controls-grid { display:grid; grid-template-columns:repeat(3,1fr); gap:20px; }\n.control-card {\n  background:var(--panel2); border:1px solid var(--border);\n  border-radius:8px; padding:18px; position:relative; overflow:hidden;\n}\n.control-card::before { content:''; position:absolute; top:0; left:0; right:0; height:2px; }\n.control-card.ph::before   { background:var(--ph-color); }\n.control-card.temp::before { background:var(--temp-color); }\n.control-card.cond::before { background:var(--cond-color); }\n.control-label { font-size:11px; letter-spacing:3px; text-transform:uppercase; margin-bottom:12px; font-weight:700; }\n.control-card.ph   .control-label { color:var(--ph-color); }\n.control-card.temp .control-label { color:var(--temp-color); }\n.control-card.cond .control-label { color:var(--cond-color); }\n.current-set { font-family:'Share Tech Mono'; font-size:32px; font-weight:700; text-align:center; margin:8px 0; }\n.control-card.ph   .current-set { color:var(--ph-color); text-shadow:0 0 20px var(--ph-color); }\n.control-card.temp .current-set { color:var(--temp-color); text-shadow:0 0 20px var(--temp-color); }\n.control-card.cond .current-set { color:var(--cond-color); text-shadow:0 0 20px var(--cond-color); }\n.unit-label { text-align:center; font-size:10px; color:var(--muted); letter-spacing:2px; margin-bottom:16px; }\n.btn-row { display:grid; grid-template-columns:1fr 1fr 1fr; gap:6px; }\n.ctrl-btn {\n  background:rgba(255,255,255,0.04); border:1px solid var(--border);\n  color:var(--text); font-family:'Share Tech Mono'; font-size:13px; font-weight:700;\n  padding:8px 4px; border-radius:6px; cursor:pointer; transition:all 0.15s; text-align:center;\n}\n.ctrl-btn:hover { background:rgba(255,255,255,0.09); border-color:var(--accent); color:var(--accent); }\n.ctrl-btn:active { transform:scale(0.95); }\n.ctrl-btn.danger:hover { border-color:var(--danger); color:var(--danger); }\n.ctrl-btn.up:hover    { border-color:var(--accent2); color:var(--accent2); }\n.slider-wrap { margin-top:12px; }\n.slider-wrap input[type=range] {\n  width:100%; -webkit-appearance:none; height:4px; border-radius:2px; outline:none; cursor:pointer;\n}\n.control-card.ph   input[type=range] { background:linear-gradient(to right,var(--ph-color) var(--pct,50%),#1a3a5c var(--pct,50%)); }\n.control-card.temp input[type=range] { background:linear-gradient(to right,var(--temp-color) var(--pct,40%),#1a3a5c var(--pct,40%)); }\n.control-card.cond input[type=range] { background:linear-gradient(to right,var(--cond-color) var(--pct,33%),#1a3a5c var(--pct,33%)); }\ninput[type=range]::-webkit-slider-thumb {\n  -webkit-appearance:none; width:16px; height:16px; border-radius:50%;\n  background:var(--accent); border:2px solid var(--bg); box-shadow:0 0 8px var(--accent); cursor:pointer;\n}\n.range-labels { display:flex; justify-content:space-between; font-family:'Share Tech Mono'; font-size:10px; color:var(--muted); margin-top:4px; }\n.display-panel {\n  background:var(--panel); border:1px solid var(--border); border-top:2px solid var(--accent2);\n  padding:20px 24px; margin-bottom:20px;\n}\n.gauges-grid { display:grid; grid-template-columns:repeat(3,1fr); gap:20px; margin-bottom:20px; }\n.gauge-card {\n  background:var(--panel2); border:1px solid var(--border);\n  border-radius:8px; padding:20px; text-align:center; position:relative; overflow:hidden;\n}\n.gauge-card.anomaly { animation:anomaly-flash 0.8s ease-in-out infinite; }\n@keyframes anomaly-flash { 0%,100%{border-color:var(--border)} 50%{border-color:var(--danger);box-shadow:0 0 20px rgba(255,61,90,0.3)} }\n.gauge-title { font-size:10px; letter-spacing:3px; text-transform:uppercase; color:var(--muted); margin-bottom:12px; font-weight:700; }\n.arc-gauge { position:relative; display:inline-block; }\n.arc-gauge svg { display:block; }\n.gauge-val { position:absolute; inset:0; display:flex; flex-direction:column; align-items:center; justify-content:center; }\n.gauge-number { font-family:'Share Tech Mono'; font-size:28px; font-weight:700; line-height:1; transition:color 0.5s; }\n.gauge-unit { font-size:10px; color:var(--muted); letter-spacing:2px; margin-top:2px; }\n.gauge-bar-wrap { width:100%; height:6px; background:rgba(255,255,255,0.06); border-radius:3px; margin-top:12px; overflow:hidden; position:relative; }\n.gauge-bar { height:100%; border-radius:3px; transition:width 0.6s cubic-bezier(0.4,0,0.2,1); position:relative; }\n.gauge-bar::after { content:''; position:absolute; right:0; top:0; bottom:0; width:4px; background:white; border-radius:2px; box-shadow:0 0 6px white; opacity:0.8; }\n.zone-labels { display:flex; justify-content:space-between; font-family:'Share Tech Mono'; font-size:9px; color:var(--muted); margin-top:4px; }\n.zone-ok { font-size:9px; letter-spacing:2px; margin-top:8px; padding:2px 10px; border-radius:10px; display:inline-block; font-family:'Share Tech Mono'; }\n.zone-ok.ok   { background:rgba(0,255,157,0.12); color:var(--accent2); border:1px solid rgba(0,255,157,0.3); }\n.zone-ok.warn { background:rgba(255,61,90,0.12); color:var(--danger); border:1px solid rgba(255,61,90,0.3); }\n.actuators-section {\n  background:var(--panel); border:1px solid var(--border); border-top:2px solid var(--warn);\n  padding:20px 24px; margin-bottom:20px;\n}\n.actuators-grid { display:grid; grid-template-columns:repeat(6,1fr); gap:10px; }\n.actuator {\n  background:var(--panel2); border:1px solid var(--border); border-radius:8px;\n  padding:14px 8px; text-align:center; transition:all 0.3s; position:relative; overflow:hidden;\n}\n.actuator.active { border-color:var(--warn); box-shadow:0 0 20px rgba(255,157,0,0.25); background:rgba(255,157,0,0.06); }\n.actuator.active::before {\n  content:''; position:absolute; inset:0;\n  background:linear-gradient(135deg,rgba(255,157,0,0.08) 0%,transparent 60%);\n  animation:sweep 1.5s linear infinite;\n}\n@keyframes sweep { 0%{transform:translateX(-100%)} 100%{transform:translateX(100%)} }\n.act-icon { font-size:22px; margin-bottom:6px; display:block; }\n.act-name { font-size:9px; letter-spacing:1.5px; text-transform:uppercase; color:var(--muted); line-height:1.3; font-weight:700; }\n.actuator.active .act-name { color:var(--warn); }\n.act-led { width:6px; height:6px; border-radius:50%; background:#1a3a5c; margin:6px auto 0; transition:all 0.3s; }\n.actuator.active .act-led { background:var(--warn); box-shadow:0 0 8px var(--warn); animation:led-blink 0.5s infinite; }\n@keyframes led-blink { 0%,100%{opacity:1} 50%{opacity:0.4} }\n.console-section { background:var(--panel); border:1px solid var(--border); padding:16px 20px; }\n#console-log { font-family:'Share Tech Mono'; font-size:11px; height:140px; overflow-y:auto; color:#4a7a9b; line-height:1.8; }\n.log-line { display:flex; gap:10px; }\n.log-time { color:var(--muted); white-space:nowrap; }\n.log-action { color:var(--warn); }\n.log-gemma  { color:var(--accent); }\n.log-ok     { color:var(--accent2); }\n#console-log::-webkit-scrollbar { width:3px; }\n#console-log::-webkit-scrollbar-thumb { background:var(--border); }\n.trend { font-size:11px; margin-left:4px; }\n.trend.up { color:var(--danger); } .trend.down { color:var(--accent2); } .trend.stable { color:var(--muted); }\n</style>\n</head>\n<body>\n<div class=\"app\">\n  <header>\n    <div class=\"logo\">\n      <div class=\"logo-icon\">🌿</div>\n      <div>\n        <h1>HydroControl</h1>\n        <span>Système de régulation autonome — Gemma4 via Ollama</span>\n      </div>\n    </div>\n    <div class=\"status-bar\">\n      <div class=\"status-dot\"></div>\n      <span class=\"status-text\">SYSTÈME ACTIF</span>\n      <div id=\"gemma-status\">⏳ En attente de Gemma4…</div>\n    </div>\n  </header>\n\n  <!-- COMMANDE -->\n  <div class=\"control-panel\">\n    <div class=\"section-title\">🎮 Panneau de Commande — Forcer les Valeurs</div>\n    <div class=\"controls-grid\">\n      <div class=\"control-card ph\">\n        <div class=\"control-label\">pH du système</div>\n        <div class=\"current-set\" id=\"set-ph\">6.0</div>\n        <div class=\"unit-label\">UNITÉ pH — CIBLE : 5.8 → 6.2</div>\n        <div class=\"btn-row\">\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('pH',-1.0)\">−1.0</button>\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('pH',-0.5)\">−0.5</button>\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('pH',-0.2)\">−0.2</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('pH',+0.2)\">+0.2</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('pH',+0.5)\">+0.5</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('pH',+1.0)\">+1.0</button>\n        </div>\n        <div class=\"slider-wrap\">\n          <input type=\"range\" id=\"slider-ph\" min=\"5\" max=\"7\" step=\"0.1\" value=\"6.0\" oninput=\"setSlider('pH',this.value)\">\n          <div class=\"range-labels\"><span>5.0</span><span>7.0</span></div>\n        </div>\n      </div>\n      <div class=\"control-card temp\">\n        <div class=\"control-label\">Température</div>\n        <div class=\"current-set\" id=\"set-temp\">21.0</div>\n        <div class=\"unit-label\">°C — CIBLE : 20°C → 22°C</div>\n        <div class=\"btn-row\">\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('temperature',-3)\">−3°C</button>\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('temperature',-2)\">−2°C</button>\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('temperature',-1)\">−1°C</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('temperature',+1)\">+1°C</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('temperature',+2)\">+2°C</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('temperature',+3)\">+3°C</button>\n        </div>\n        <div class=\"slider-wrap\">\n          <input type=\"range\" id=\"slider-temp\" min=\"15\" max=\"30\" step=\"0.5\" value=\"21\" oninput=\"setSlider('temperature',this.value)\">\n          <div class=\"range-labels\"><span>15°C</span><span>30°C</span></div>\n        </div>\n      </div>\n      <div class=\"control-card cond\">\n        <div class=\"control-label\">Conductivité</div>\n        <div class=\"current-set\" id=\"set-cond\">2.0</div>\n        <div class=\"unit-label\">mS/cm — CIBLE : 1.5 → 2.5</div>\n        <div class=\"btn-row\">\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('conductivity',-1.0)\">−1.0</button>\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('conductivity',-0.5)\">−0.5</button>\n          <button class=\"ctrl-btn danger\" onclick=\"forceValue('conductivity',-0.2)\">−0.2</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('conductivity',+0.2)\">+0.2</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('conductivity',+0.5)\">+0.5</button>\n          <button class=\"ctrl-btn up\"     onclick=\"forceValue('conductivity',+1.0)\">+1.0</button>\n        </div>\n        <div class=\"slider-wrap\">\n          <input type=\"range\" id=\"slider-cond\" min=\"1\" max=\"4\" step=\"0.1\" value=\"2.0\" oninput=\"setSlider('conductivity',this.value)\">\n          <div class=\"range-labels\"><span>1.0</span><span>4.0</span></div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <!-- MESURES -->\n  <div class=\"display-panel\">\n    <div class=\"section-title\">📊 Mesures en Temps Réel</div>\n    <div class=\"gauges-grid\">\n      <div class=\"gauge-card\" id=\"card-ph\">\n        <div class=\"gauge-title\">⬡ pH Actuel</div>\n        <div class=\"arc-gauge\">\n          <svg width=\"140\" height=\"80\" viewBox=\"0 0 140 80\">\n            <path d=\"M 10 75 A 60 60 0 0 1 130 75\" fill=\"none\" stroke=\"#1a3a5c\" stroke-width=\"8\" stroke-linecap=\"round\"/>\n            <path id=\"arc-ph\" d=\"M 10 75 A 60 60 0 0 1 130 75\" fill=\"none\" stroke=\"var(--ph-color)\" stroke-width=\"8\" stroke-linecap=\"round\" stroke-dasharray=\"188.5\" stroke-dashoffset=\"94\" style=\"transition:stroke-dashoffset 0.8s\"/>\n          </svg>\n          <div class=\"gauge-val\">\n            <span class=\"gauge-number\" id=\"disp-ph\" style=\"color:var(--ph-color)\">6.0<span class=\"trend stable\" id=\"trend-ph\">→</span></span>\n            <span class=\"gauge-unit\">pH</span>\n          </div>\n        </div>\n        <div class=\"gauge-bar-wrap\"><div class=\"gauge-bar\" id=\"bar-ph\" style=\"width:50%;background:var(--ph-color)\"></div></div>\n        <div class=\"zone-labels\"><span>5.0</span><span>5.8│6.2</span><span>7.0</span></div>\n        <div class=\"zone-ok ok\" id=\"status-ph\">✓ OPTIMAL</div>\n      </div>\n      <div class=\"gauge-card\" id=\"card-temp\">\n        <div class=\"gauge-title\">🌡 Température Actuelle</div>\n        <div class=\"arc-gauge\">\n          <svg width=\"140\" height=\"80\" viewBox=\"0 0 140 80\">\n            <path d=\"M 10 75 A 60 60 0 0 1 130 75\" fill=\"none\" stroke=\"#1a3a5c\" stroke-width=\"8\" stroke-linecap=\"round\"/>\n            <path id=\"arc-temp\" d=\"M 10 75 A 60 60 0 0 1 130 75\" fill=\"none\" stroke=\"var(--temp-color)\" stroke-width=\"8\" stroke-linecap=\"round\" stroke-dasharray=\"188.5\" stroke-dashoffset=\"70\" style=\"transition:stroke-dashoffset 0.8s\"/>\n          </svg>\n          <div class=\"gauge-val\">\n            <span class=\"gauge-number\" id=\"disp-temp\" style=\"color:var(--temp-color)\">21.0<span class=\"trend stable\" id=\"trend-temp\">→</span></span>\n            <span class=\"gauge-unit\">°C</span>\n          </div>\n        </div>\n        <div class=\"gauge-bar-wrap\"><div class=\"gauge-bar\" id=\"bar-temp\" style=\"width:40%;background:var(--temp-color)\"></div></div>\n        <div class=\"zone-labels\"><span>15°C</span><span>20│22°C</span><span>30°C</span></div>\n        <div class=\"zone-ok ok\" id=\"status-temp\">✓ OPTIMAL</div>\n      </div>\n      <div class=\"gauge-card\" id=\"card-cond\">\n        <div class=\"gauge-title\">⚡ Conductivité Actuelle</div>\n        <div class=\"arc-gauge\">\n          <svg width=\"140\" height=\"80\" viewBox=\"0 0 140 80\">\n            <path d=\"M 10 75 A 60 60 0 0 1 130 75\" fill=\"none\" stroke=\"#1a3a5c\" stroke-width=\"8\" stroke-linecap=\"round\"/>\n            <path id=\"arc-cond\" d=\"M 10 75 A 60 60 0 0 1 130 75\" fill=\"none\" stroke=\"var(--cond-color)\" stroke-width=\"8\" stroke-linecap=\"round\" stroke-dasharray=\"188.5\" stroke-dashoffset=\"63\" style=\"transition:stroke-dashoffset 0.8s\"/>\n          </svg>\n          <div class=\"gauge-val\">\n            <span class=\"gauge-number\" id=\"disp-cond\" style=\"color:var(--cond-color)\">2.0<span class=\"trend stable\" id=\"trend-cond\">→</span></span>\n            <span class=\"gauge-unit\">mS/cm</span>\n          </div>\n        </div>\n        <div class=\"gauge-bar-wrap\"><div class=\"gauge-bar\" id=\"bar-cond\" style=\"width:33%;background:var(--cond-color)\"></div></div>\n        <div class=\"zone-labels\"><span>1.0</span><span>1.5│2.5</span><span>4.0</span></div>\n        <div class=\"zone-ok ok\" id=\"status-cond\">✓ OPTIMAL</div>\n      </div>\n    </div>\n  </div>\n\n  <!-- ACTIONNEURS -->\n  <div class=\"actuators-section\">\n    <div class=\"section-title\">⚙️ Actionneurs — État Gemma4</div>\n    <div class=\"actuators-grid\">\n      <div class=\"actuator\" id=\"act-bicarbonate\"><span class=\"act-icon\">🧪</span><div class=\"act-name\">Injecter Bicarbonate</div><div class=\"act-led\"></div></div>\n      <div class=\"actuator\" id=\"act-azote\"><span class=\"act-icon\">💉</span><div class=\"act-name\">Injecter Azote</div><div class=\"act-led\"></div></div>\n      <div class=\"actuator\" id=\"act-chauffer\"><span class=\"act-icon\">🔥</span><div class=\"act-name\">Chauffer</div><div class=\"act-led\"></div></div>\n      <div class=\"actuator\" id=\"act-refroidir\"><span class=\"act-icon\">❄️</span><div class=\"act-name\">Refroidir</div><div class=\"act-led\"></div></div>\n      <div class=\"actuator\" id=\"act-sel\"><span class=\"act-icon\">🧂</span><div class=\"act-name\">Injecter Sel</div><div class=\"act-led\"></div></div>\n      <div class=\"actuator\" id=\"act-filtrer\"><span class=\"act-icon\">🔬</span><div class=\"act-name\">Filtrer</div><div class=\"act-led\"></div></div>\n    </div>\n  </div>\n\n  <!-- CONSOLE -->\n  <div class=\"console-section\">\n    <div class=\"section-title\">📡 Journal Système</div>\n    <div id=\"console-log\"></div>\n  </div>\n</div>\n\n<script>\n  // État local\n  var state = { pH:6.0, temperature:21.0, conductivity:2.0 };\n  var prev  = { pH:6.0, temperature:21.0, conductivity:2.0 };\n  var loopInterval = null;\n\n  // Réception des messages Node-RED via socket\n  (function(){\n    try {\n      var socket = io.connect();\n      socket.on('hydrodata', function(d){\n        if(d.pH !== undefined)           updateDisplay('pH', d.pH);\n        if(d.temperature !== undefined)  updateDisplay('temperature', d.temperature);\n        if(d.conductivity !== undefined) updateDisplay('conductivity', d.conductivity);\n        if(d.action !== undefined)       setActuator(d.action);\n        if(d.gemmaStatus !== undefined)  document.getElementById('gemma-status').textContent = d.gemmaStatus;\n      });\n    } catch(e){ log('Socket non disponible — mode local actif', 'gemma'); }\n  })();\n\n  function forceValue(param, delta){\n    var limits = { pH:[5,7], temperature:[15,30], conductivity:[1,4] };\n    state[param] = Math.round((state[param] + delta) * 10) / 10;\n    state[param] = Math.max(limits[param][0], Math.min(limits[param][1], state[param]));\n    syncSlider(param);\n    updateDisplay(param, state[param]);\n    log('FORCE ' + param.toUpperCase() + ' → ' + state[param], 'action');\n    sendToNR(param, state[param]);\n  }\n\n  function setSlider(param, val){\n    state[param] = Math.round(parseFloat(val) * 10) / 10;\n    updateDisplay(param, state[param]);\n    sendToNR(param, state[param]);\n  }\n\n  function syncSlider(param){\n    var map = { pH:'slider-ph', temperature:'slider-temp', conductivity:'slider-cond' };\n    var el = document.getElementById(map[param]);\n    if(el) el.value = state[param];\n  }\n\n  function sendToNR(param, val){\n    try {\n      fetch('/hydrocontrol/set', {\n        method:'POST',\n        headers:{'Content-Type':'application/json'},\n        body: JSON.stringify({ topic: param, payload: val })\n      });\n    } catch(e){}\n  }\n\n  function updateDisplay(param, val){\n    val = Math.round(parseFloat(val) * 10) / 10;\n    var ranges = {\n      pH:           { min:5,  max:7,  okMin:5.8, okMax:6.2, disp:'disp-ph',   bar:'bar-ph',   arc:'arc-ph',   set:'set-ph',   status:'status-ph',   card:'card-ph',   trend:'trend-ph',   color:'var(--ph-color)' },\n      temperature:  { min:15, max:30, okMin:20,  okMax:22,  disp:'disp-temp', bar:'bar-temp', arc:'arc-temp', set:'set-temp', status:'status-temp', card:'card-temp', trend:'trend-temp', color:'var(--temp-color)' },\n      conductivity: { min:1,  max:4,  okMin:1.5, okMax:2.5, disp:'disp-cond', bar:'bar-cond', arc:'arc-cond', set:'set-cond', status:'status-cond', card:'card-cond', trend:'trend-cond', color:'var(--cond-color)' }\n    };\n    var r = ranges[param]; if(!r) return;\n    var pct  = (val - r.min) / (r.max - r.min);\n    var isOk = val >= r.okMin && val <= r.okMax;\n\n    // Numéro affiché\n    var dispEl = document.getElementById(r.disp);\n    if(dispEl){\n      var trendEl = document.getElementById(r.trend);\n      var trendHTML = '';\n      if(trendEl){\n        var oldVal = prev[param] || val;\n        var tClass = val > oldVal ? 'up' : (val < oldVal ? 'down' : 'stable');\n        var tChar  = val > oldVal ? '↑' : (val < oldVal ? '↓' : '→');\n        trendHTML = '<span class=\"trend ' + tClass + '\" id=\"' + r.trend + '\">' + tChar + '</span>';\n      }\n      dispEl.innerHTML = val.toFixed(1) + trendHTML;\n    }\n    prev[param] = val;\n\n    // Valeur forcée (panneau commande)\n    var setEl = document.getElementById(r.set);\n    if(setEl) setEl.textContent = val.toFixed(1);\n\n    // Barre\n    var barEl = document.getElementById(r.bar);\n    if(barEl) barEl.style.width = (pct * 100).toFixed(1) + '%';\n\n    // Arc SVG\n    var arcEl = document.getElementById(r.arc);\n    if(arcEl) arcEl.setAttribute('stroke-dashoffset', (188.5 * (1 - pct)).toFixed(1));\n\n    // Statut\n    var stEl = document.getElementById(r.status);\n    if(stEl){\n      stEl.textContent = isOk ? '✓ OPTIMAL' : '⚠ HORS SEUIL';\n      stEl.className = 'zone-ok ' + (isOk ? 'ok' : 'warn');\n    }\n\n    // Clignotement carte\n    var cardEl = document.getElementById(r.card);\n    if(cardEl){\n      if(!isOk) cardEl.classList.add('anomaly');\n      else      cardEl.classList.remove('anomaly');\n    }\n\n    // Slider sync\n    syncSlider(param);\n    state[param] = val;\n  }\n\n  function setActuator(action){\n    var map = {\n      'injecter_bicarbonate': 'act-bicarbonate',\n      'injecter_azote':       'act-azote',\n      'chauffer':             'act-chauffer',\n      'refroidir':            'act-refroidir',\n      'injecter_sel':         'act-sel',\n      'filtrer':              'act-filtrer'\n    };\n    // Reset all\n    Object.values(map).forEach(function(id){\n      var el = document.getElementById(id);\n      if(el) el.classList.remove('active');\n    });\n    if(action && action !== 'skip' && map[action]){\n      var el = document.getElementById(map[action]);\n      if(el) el.classList.add('active');\n      log('🤖 Gemma4 → ' + action.toUpperCase(), 'gemma');\n    } else {\n      log('🤖 Gemma4 → SKIP (dans les seuils)', 'ok');\n    }\n    document.getElementById('gemma-status').textContent = '🤖 ' + (action||'skip').toUpperCase();\n  }\n\n  function log(msg, type){\n    var el = document.getElementById('console-log');\n    if(!el) return;\n    var t = new Date().toLocaleTimeString('fr-FR');\n    var line = document.createElement('div');\n    line.className = 'log-line';\n    line.innerHTML = '<span class=\"log-time\">[' + t + ']</span> <span class=\"log-' + (type||'action') + '\">' + msg + '</span>';\n    el.appendChild(line);\n    if(el.children.length > 80) el.removeChild(el.firstChild);\n    el.scrollTop = el.scrollHeight;\n  }\n\n  // Simulation locale si Node-RED non connecté\n  function localLoop(){\n    var m = state;\n    var phOk   = m.pH >= 5.8 && m.pH <= 6.2;\n    var tempOk = m.temperature >= 20 && m.temperature <= 22;\n    var condOk = m.conductivity >= 1.5 && m.conductivity <= 2.5;\n    var action = 'skip';\n    if(!phOk)   action = m.pH > 6.2 ? 'injecter_azote' : 'injecter_bicarbonate';\n    else if(!tempOk) action = m.temperature > 22 ? 'refroidir' : 'chauffer';\n    else if(!condOk) action = m.conductivity > 2.5 ? 'filtrer' : 'injecter_sel';\n    var step = 0.2;\n    if(action === 'injecter_bicarbonate') state.pH = Math.min(state.pH + step, 7);\n    else if(action === 'injecter_azote') state.pH = Math.max(state.pH - step, 5);\n    else if(action === 'chauffer') state.temperature = Math.min(state.temperature + step, 30);\n    else if(action === 'refroidir') state.temperature = Math.max(state.temperature - step, 15);\n    else if(action === 'injecter_sel') state.conductivity = Math.min(state.conductivity + step, 4);\n    else if(action === 'filtrer') state.conductivity = Math.max(state.conductivity - step, 1);\n    state.pH = Math.round(state.pH * 10)/10;\n    state.temperature = Math.round(state.temperature * 10)/10;\n    state.conductivity = Math.round(state.conductivity * 10)/10;\n    updateDisplay('pH', state.pH);\n    updateDisplay('temperature', state.temperature);\n    updateDisplay('conductivity', state.conductivity);\n    setActuator(action);\n  }\n\n  // Init\n  setTimeout(function(){\n    log('HydroControl v2.0 — Démarrage système', 'ok');\n    log('Connexion Gemma4 via Ollama…', 'gemma');\n    updateDisplay('pH', state.pH);\n    updateDisplay('temperature', state.temperature);\n    updateDisplay('conductivity', state.conductivity);\n    // Boucle de simulation locale (s'arrêtera si socket NR prend le relai)\n    loopInterval = setInterval(localLoop, 3000);\n  }, 500);\n</script>\n</body>\n</html>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 400,
    "y": 100,
    "wires": [[]]
  },

  {
    "id": "inject_loop",
    "type": "inject",
    "z": "tab_hydro",
    "name": "Boucle 3 sec",
    "props": [{"p": "payload"}],
    "repeat": "3",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 130,
    "y": 280,
    "wires": [["fn_get_measures"]]
  },

  {
    "id": "fn_get_measures",
    "type": "function",
    "z": "tab_hydro",
    "name": "Récupérer mesures",
    "func": "var m = global.get('measures') || {pH:6.0, temperature:21.0, conductivity:2.0};\nmsg.payload = m;\nmsg.mesures = m;\nreturn msg;",
    "outputs": 1,
    "x": 310,
    "y": 280,
    "wires": [["fn_prepare_prompt"]]
  },

  {
    "id": "fn_prepare_prompt",
    "type": "function",
    "z": "tab_hydro",
    "name": "Préparer prompt Gemma4",
    "func": "var m = msg.payload;\nvar phOk   = m.pH >= 5.8 && m.pH <= 6.2;\nvar tempOk = m.temperature >= 20 && m.temperature <= 22;\nvar condOk = m.conductivity >= 1.5 && m.conductivity <= 2.5;\nvar status = [\n  !phOk   ? 'pH='+m.pH+' (HORS SEUIL, cible 5.8-6.2)'              : 'pH='+m.pH+' OK',\n  !tempOk ? 'temp='+m.temperature+'°C (HORS SEUIL, cible 20-22°C)' : 'temp='+m.temperature+'°C OK',\n  !condOk ? 'cond='+m.conductivity+' mS/cm (HORS SEUIL, cible 1.5-2.5)' : 'cond='+m.conductivity+' mS/cm OK'\n].join(', ');\nvar prompt = 'Tu es un automate de régulation hydroponique.\\nParamètres actuels : '+status+'.\\n\\nRègles STRICTES :\\n- pH >6.2 → injecter_azote\\n- pH <5.8 → injecter_bicarbonate\\n- temp >22°C → refroidir\\n- temp <20°C → chauffer\\n- cond >2.5 → filtrer\\n- cond <1.5 → injecter_sel\\n- tout OK → skip\\n\\nRéponds avec UN SEUL MOT : injecter_bicarbonate, injecter_azote, chauffer, refroidir, injecter_sel, filtrer, skip';\nmsg.headers = {'Content-Type':'application/json'};\nmsg.payload = {model:'gemma4', prompt:prompt, stream:false};\nmsg.mesures = m;\nreturn msg;",
    "outputs": 1,
    "x": 520,
    "y": 280,
    "wires": [["http_gemma"]]
  },

  {
    "id": "http_gemma",
    "type": "http request",
    "z": "tab_hydro",
    "name": "Gemma4 — Ollama",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://host.docker.internal:11434/api/generate",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 280,
    "wires": [["fn_parse_response"]]
  },

  {
    "id": "fn_parse_response",
    "type": "function",
    "z": "tab_hydro",
    "name": "Parser réponse Gemma4",
    "func": "var r = msg.payload;\nif(!r || !r.response) return null;\nvar a = r.response.trim().toLowerCase().replace(/[^a-z_]/g,'');\nvar valid = ['injecter_bicarbonate','injecter_azote','chauffer','refroidir','injecter_sel','filtrer','skip'];\nmsg.action = valid.includes(a) ? a : 'skip';\nmsg.mesures = msg.mesures || {};\nreturn msg;",
    "outputs": 1,
    "x": 960,
    "y": 280,
    "wires": [["fn_execute_action"]]
  },

  {
    "id": "fn_execute_action",
    "type": "function",
    "z": "tab_hydro",
    "name": "Exécuter action",
    "func": "var m = global.get('measures') || msg.mesures;\nvar action = msg.action;\nvar step = 0.2;\nswitch(action){\n  case 'injecter_bicarbonate': m.pH = Math.min(m.pH + step, 7.0); break;\n  case 'injecter_azote':       m.pH = Math.max(m.pH - step, 5.0); break;\n  case 'chauffer':      m.temperature = Math.min(m.temperature + step, 30); break;\n  case 'refroidir':     m.temperature = Math.max(m.temperature - step, 15); break;\n  case 'injecter_sel':  m.conductivity = Math.min(m.conductivity + step, 4.0); break;\n  case 'filtrer':       m.conductivity = Math.max(m.conductivity - step, 1.0); break;\n  case 'skip': break;\n}\nm.pH           = Math.round(m.pH * 10) / 10;\nm.temperature  = Math.round(m.temperature * 10) / 10;\nm.conductivity = Math.round(m.conductivity * 10) / 10;\nglobal.set('measures', m);\nmsg.payload = m;\nmsg.action  = action;\nreturn msg;",
    "outputs": 1,
    "x": 1160,
    "y": 280,
    "wires": [["fn_send_to_ui"]]
  },

  {
    "id": "fn_send_to_ui",
    "type": "function",
    "z": "tab_hydro",
    "name": "Envoyer vers UI Template",
    "func": "var m = msg.payload;\nvar a = msg.action;\n// On envoie un objet complet au template via socket\nmsg.payload = {\n  pH: m.pH,\n  temperature: m.temperature,\n  conductivity: m.conductivity,\n  action: a,\n  gemmaStatus: '🤖 ' + a.toUpperCase()\n};\nmsg.topic = 'hydrodata';\nreturn msg;",
    "outputs": 1,
    "x": 1360,
    "y": 280,
    "wires": [["node_template_ui"]]
  },

  {
    "id": "http_in_set",
    "type": "http in",
    "z": "tab_hydro",
    "name": "POST /hydrocontrol/set",
    "url": "/hydrocontrol/set",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 420,
    "wires": [["fn_handle_set"]]
  },

  {
    "id": "fn_handle_set",
    "type": "function",
    "z": "tab_hydro",
    "name": "Appliquer valeur forcée",
    "func": "var m = global.get('measures') || {pH:6.0, temperature:21.0, conductivity:2.0};\nvar topic = msg.payload.topic;\nvar val   = parseFloat(msg.payload.payload);\nif(topic === 'pH')           m.pH = val;\nelse if(topic === 'temperature')  m.temperature = val;\nelse if(topic === 'conductivity') m.conductivity = val;\nglobal.set('measures', m);\nmsg.payload = {status:'ok', measures: m};\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 420,
    "wires": [["http_response"]]
  },

  {
    "id": "http_response",
    "type": "http response",
    "z": "tab_hydro",
    "name": "Réponse HTTP",
    "statusCode": "200",
    "headers": {"Content-Type": "application/json"},
    "x": 650,
    "y": 420,
    "wires": []
  }
]